
.project-badge{
    height: 1.35rem;
    padding-top: 0.4rem;
    color:#fff;
}

.project-footer{
    padding: 0.25rem;
}

.project-location,.project-calendar{
    color:#000;
}

.project-footer-text{
    font-size: 0.8rem;
    font-weight: 600;
}

.project-background::after{
    content:"";
    position:absolute;
    top:0;right:0;left:0;bottom:0;
    background-color:rgba(0,0,0,0.5);
    z-index:-1;
}