
.menu-item-toggle{
    margin-right:0.6rem;
}

.menu-icon, .submenu-icon{
    font-size: 1.1rem;
    width:24px;
}

.notification-badge{
    margin-top: 0.25rem;
    margin-left:2rem;
    color: black;
}

.inbox-badge{
    color: black;
    margin-left: 7.2rem;
}

.sidebar-toggle{
    margin-top:0.8rem;
}
.sidebar-toggle a{
    font-size: 1.4rem;
    display:flex;
    justify-content: center!important;;
    align-items: center!important;
}

.close-toggle{
    border-bottom: 1px solid #23282e;
}


